*{
    background-color: rgb(160, 194, 234);
}
.completeContainer {
  width: 60%;
  margin: auto;
  padding: 1rem;
  background-color: rgb(80, 144, 204);
 
}
input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}


.itemList:hover {
    cursor: pointer;
    background-color: #606468;
}

.itemListNot {
    padding: 0.5rem;
    text-align: center;
  }
.itemList {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  
  }

.text{
    text-align: center;
    color: rgb(48, 74, 203);
}
.textCo{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 2px;
  color:rgb(53, 81, 165);
  background-color: #fff;
}

.activeItem {
    background-color: #e0e0e0;
  }
  
  .autocompleteContainer {
    width: 60%;
    margin: auto;
    padding: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .autocompleteContainer {
      width: 100%;
    }
  }

.flag-img {
    width: 20px;
    height: 16px;
    object-fit: cover;
    margin-right: 8px;
    
    border-radius: 2px;
  }

.selection-option:after{
  content:""; 
  border-top:8px solid;
  border-left:8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right:15px;
  top:50%;
  margin-top: -8px;
 
 
  }
  
